/* NAV BAR */
nav ul {
    list-style-type: none;
    background-color:var(--mainBlue);
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: flex;
}
nav li {
    display: inline-block;
}
nav li img {
    display: block;
    width: 100px;
}
nav li a.logo {
    padding: 0 30px;
}
nav li:first-child {
    margin-right: auto;
}
nav li a {
    display: block;
    color: white;
    padding: 25px 30px;
    text-decoration: none;
}
nav li a:hover:not(.logo) {
    background-color: #273749;
    color: #ffc8a9;
}

/* BODY CONTAINER */
#body-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 80px
    /* height: 100% */
}

/* CONTACT  */
#contact {
    width: 60vw;
    text-align: center;
    margin-bottom: 25px;
    font-size: large;
}

/* TOOLS  */
#tech {
    width: 60vw;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 25px;
    padding: 30px;
}
.tech-card {
    display: flex;
    justify-content: center;
    align-items: center;
}
.tech-card .fab {
    font-size: 60px;
}
.tech-card i {
    margin-right: 10px;
    border-right: 1px solid black;
    padding: 10px;
}

/* MEET THE TEAM  */
#team {
    margin-bottom: 25px;
    width: 60vw;
    display: flex;
    justify-content: space-evenly;
}
.card {
    width: 25%;
    border: 0;
    /* border-radius: 10px; */
    box-shadow: 10px 9px 61px -3px rgba(0,0,0,0.33);
    padding: 20px 70px;
    text-align: center;
}
.card h3 {
    color: #3A506B;
}
.card h4 {
    margin: 10px 0;
    color: #212f41;
}
.card p {
    margin: 15px 0;
}
#cardSocial {
    display: flex;
    justify-content: space-evenly;
}
.fab {
    font-size: 30px;
    color: #73A6AD;
}
.fab:hover {
    color: var(--mainBlue);
}

/* BUTTONS */
.btn .fab, .far {
    color: #73A6AD;
    font-size: 27.5px;
    margin-right: 10px;
}
.btn:hover>i {
    color:white;
}

@media only screen and (max-width: 768px) {
    #team {
        margin-bottom: 25px;
        width: 70vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .card {
        width: 50%;
        margin-bottom: 15px;
        padding: 20px 70px;
        text-align: center;
    }
}