h1 {
    font-weight: 300;
    font-size: 25px;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    height: 35px;
    width: 260px;
    margin-bottom: 10px;
    text-align: center;
    color: #9d9d9d
}

a {
    color: #000;
    text-decoration: none;
}

#error-sect {
    border: 3px solid red;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
}
#error-sect h3 {
    color: red;
}
.fas {
    color: red;
    font-size: 20px;
}