/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Georama&display=swap');

/* Colors */
:root {
    --mainBlue: #3A506B;
    --gray: #e6e6e6;
    --orange: #ffc8a9;
}

html * {
    padding: 0;
    margin: 0;
    font-family: 'Georama', sans-serif;
    color: #707070;
}

/* NAV BAR */
nav ul {
    list-style-type: none;
    background-color:var(--mainBlue);
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: flex;
}
nav li {
    display: inline-block;
}
nav li img {
    display: block;
    width: 100px;
}
nav li a.logo {
    padding: 0 30px;
}
nav li:first-child {
    margin-right: auto;
}
nav li a {
    display: block;
    color: white;
    padding: 25px 30px;
    text-decoration: none;
}
nav li a:hover:not(.logo) {
    background-color: #273749;
    color: #ffc8a9;
}

/* SECTION CONTAINER */
section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 25px 0; */
}

/* BODY CONTAINER FOR CONTACT */
.body-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 80px
    /* height: 100% */
}

/* GRADIENT BACKGROUND */
.grad-background {
    background-image: linear-gradient(45deg, #3b41c5 0%, #a981bb 49%, #ffc8a9 100%);
    background-size: 250% 250%;
	animation: gradient 7s ease infinite;
	height: 100vh;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* HEADER */
header {
    background-color: var(--mainBlue);
    color: white;
    width: 100%;
    height: 5vh;
}

/* FOOTER */
footer {
    background-color: var(--mainBlue);
    color: white;
    padding: 25px;
    padding: 25px 0;
    width: 100%;
    height: 5vh;
    text-align: center;
}
footer h4, h5 {
    color: white;
}

/* STYLING FOR H1 TAG */
h1 {
    margin-bottom: 25px;
    font-size: 40px;
    font-weight: 100;
    border-bottom: 3px solid #ffc8a9;
    padding-bottom: 5px;
    color: var(--mainBlue);
}

/* STYLING FOR H2 TAG */
h2 {
    margin-bottom: 25px;
    font-weight: 100;
    border-bottom: 3px solid #ffc8a9;
    padding-bottom: 5px;
    color: var(--mainBlue);
}

/* BUTTON STYLING */
.btn {
    font-weight: bolder;
    font-size: larger;
    background-color: #e6e6e6;
    border-radius: 40px;
    border: 0px;
    color: #3A506B;
    width: 300px;
    height: 60px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn:hover {
    background-color: #3A506B;
    color: white;
}

#form-box {
    display: block;
    border-radius: 20px;
    background-color: #D69599;
    padding: 40px 50px 20px 50px;
    margin-bottom: 20px;
    border: 1px solid #000;
}