/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Georama&display=swap');

/* Colors */
:root {
    --mainBlue: #3A506B;
}


html * {
    padding: 0;
    margin: 0;
    font-family: 'Georama', sans-serif;
    color: #707070;
}

header {
    background-color: var(--mainBlue);
    color: white;
    width: 100%;
    height: 5vh;
}

footer {
    background-color: var(--mainBlue);
    color: white;
    padding: 25px;
    padding: 25px 0;
    width: 100%;
    height: 5vh;
    text-align: center;
}

footer h4, h5 {
    color: white;
}

section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
}

h1 {
    margin-bottom: 25px;
    font-size: 40px;
    font-weight: 100;
    border-bottom: 3px solid #ffc8a9;
    padding-bottom: 5px;
    color: var(--mainBlue);
}

h2 {
    margin-bottom: 25px;
    font-weight: 100;
    border-bottom: 3px solid #ffc8a9;
    padding-bottom: 5px;
    color: var(--mainBlue);
}

#form-box {
    display: block;
    border-radius: 20px;
    background-color: #D69599;
    padding: 40px 50px 20px 50px;
    margin-bottom: 20px;
    border: 1px solid #000;
}

.btn {
    font-weight: bolder;
    font-size: larger;
    background-color: #e6e6e6;
    border-radius: 40px;
    border: 0px;
    color: #3A506B;
    width: 200px;
    height: 60px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    background-color: #3A506B;
    color: white;
}